/* Write some CSS below */
body {
  font-family: Overpass;
  margin: 0;
}

.container {
  width: 800px;
  margin: auto;	
}

.container h2 {
  margin-top: 25px ;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/background-amoras.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}
.banner h1 {
  color: white;
  font-size: 50px;
  margin: 0;
  letter-spacing: -1px;	
}

.banner p {
  color: white;
  font-size: 24px;
  text-align: center;	
}

.button-blue {
  background-color: #DDBD97;
  color: black;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button-blue:hover {
  background-color: #BA9365;
  color: white;	
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 0px;
}

.card-white img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white p {
  margin-top: -12px;
  margin-bottom: -3px;
}

.card-white h3 {
  margin-top: 13px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 37px;
}

.footer p {
  color: white;
  background: #404042;
  text-align: center;
  padding: 38px 0;
  margin: auto;
}

/* Cards media queries */
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
@media screen and (max-width: 600px) {
  .cards {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}
